<!DOCTYPE html>
<html class="h-full scroll-smooth">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>
<!--<body class="min-h-screen overflow-x-hidden"> -->
<body data-theme="light" class="{% block body_class %}min-h-screen{% endblock %}">
{% block body %}
    <div class="navbar bg-white/20 sticky top-0 z-5 backdrop-blur-md flex flex-row justify-between">
        <div class="flex-1">
            <a href="{{ path('app_home') }}" class="btn btn-ghost text-xl font-bold">🎶ShowTime</a>
        </div>

        <div class="flex-none">
            {% block searchBar %}
            {% endblock %}
        </div>

        <div class="flex-1 flex justify-end gap-2">
            <div>
                <a class="btn btn-ghost text-xl underline">Contact</a>
                <a class="btn btn-ghost text-xl underline" href="{{ path('app_festivals_user') }}">Festivals</a>
            </div>
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img
                            alt="Tailwind CSS Navbar component"
                            src="{{ asset('images/user-icon.png') }}"/>
                    </div>
                </div>
                <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    {% if(app.user) %}
                        {% if "ROLE_ADMIN" in app.user.roles %}
                            <li><a href="{{ path('app_dashboard_index') }}">Dashboard</a></li>
                        {% endif %}
                        <li><a href="{{ path('app_booking_user_index') }}">Bookings</a></li>
                        <li class="text-white bg-[#DC2626] rounded"><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!--<main class="overflow-x-hidden w-full max-w-screen">-->
    <main class="{% block main_class %}w-full max-w-screen{% endblock %}">

        {% block landingPage %} {% endblock %}
        {% block content %} {% endblock %}
    </main>
{% endblock %}
</body>
</html>
