{% extends 'base.html.twig' %}

{% block title %}Band details{% endblock %}

{% block content %}
    <div class="p-6">
        <div class="bg-base-200 shadow-xl">
            <img src="https://img.daisyui.com/images/profile/demo/2@94.webp" class="pl-[24px] pt-[24px]"
                 alt="band image"> {# TODO #}
            <div class="card-body">

                <h2 class="text-3xl font-bold">Band Details</h2>

                <div class="mt-4">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div>
                            <p class="text-sm text-gray-400">ID</p>
                            <p class="text-lg">{{ band.id }}</p>
                        </div>
                        <div>
                            <p class="text-sm text-gray-400">Name</p>
                            <p class="text-lg font-semibold">{{ band.name }}</p>
                        </div>
                        <div>
                            <p class="text-sm text-gray-400">Genre</p>
                            <p class="text-lg">{{ band.genre.value }}</p>
                        </div>
                    </div>
                </div>

                <div class="mt-6 flex gap-2">
                    <a href="{{ path('app_band_index') }}" class="btn btn-outline btn-sm">Back to list</a>
                    <a href="{{ path('app_band_edit', {'id': band.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                    {{ include('band/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
