<div class="flex flex-col items-center">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend">Booking</legend>

        {{ form_errors(form) }}

        {{ form_start(form) }}

        {% if form.email is defined %}
            {{ form_row(form.email, {'attr': {'class': 'input'}}) }}
            {{ form_errors(form.email) }}
        {% else %}
            <p class="mb-[30px] ">You are booking as <span class="font-bold">{{ app.user.email }}</span></p>
        {% endif %}

        {{ form_row(form.fullName, {'attr': {'class': 'input'}}) }}
        {{ form_errors(form.fullName) }}

        <button type="submit" class="btn btn-neutral mt-4">Book</button>
        <a href="{{ path('app_home') }}" class="btn mt-4">Home</a>

        {{ form_end(form) }}


    </fieldset>
</div>









